
<ab-header (hotelChanged)="activeChanged($event)"></ab-header> 
<ion-content> 
  <ion-list *ngIf="bookings">    
    <ion-card *ngFor="let b of bookings">
      <ion-card-header>
        <ion-row>
          <ion-label width-60 text-left class="dates">
            <span>From: {{ b.check_in_date | dateTransform }} </span><br/>
            <span>To  : {{ b.check_out_date | dateTransform }} </span>
          </ion-label>
          <ion-label width-40 text-right class="money">
            <!--<ion-icon name="cash" color="primary"></ion-icon>-->
            {{ b.price }}€
          </ion-label>
        </ion-row>
      </ion-card-header>
      <div class="redline"></div>
      <ion-card-content>
        <ion-row>
          <ion-label text-left class="ref">
              {{ b.references }}
          </ion-label>
          <ion-label text-center class="setup">
              <ion-icon name="person"></ion-icon>
              <span>{{ b.persons }}</span>
          </ion-label>
          <ion-label  text-right class="setup">
              <i class="fa fa-bed" aria-hidden="true"></i>
              <span>{{ b.double_room }}</span>
          </ion-label>
        </ion-row> 
      </ion-card-content>
      <button ion-button color="primary" class="button-block login-btn" large (click)="view(b)"><span>View Booking</span></button>
    </ion-card>
  </ion-list>
  <ion-list  *ngIf="bookings == null">
    <ion-list-header><h2> There are no active or future bookings for this hotel.</h2> </ion-list-header>
  </ion-list>
</ion-content>
